#about-page {

    .About-image__dash {
        width: 100%;
        height: 100%;
        max-height: 50vh;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            max-height: 50vh;
        }


        .contact-modal {
            width: 30%;
            background: #231955;
            border: 0.1px solid #FFFFFF;
            border-radius: 5px;
            position: absolute;
            bottom: -40px;
            left: 35%;
            padding: 2.5rem;

            p {
                color: #ffffff;
                text-align: center;
                font-size: 25px;
                font-weight: bold;
            }

            @media (max-width: 770px) {
                width: 100%;
                position: static;
                padding: 1rem;
            }
        }

    }

    .video-section {
        margin: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;


        iframe {
            width: 100%;
            height: 100%;
            min-height: 47vh;
            border: none;

            @media (max-width: 770px) {
                min-height: 27vh;
            }
        }

        p {
            font-size: 35px;
            font-weight: 500;
            line-height: 40px;
            letter-spacing: 0.05em;

            span {
                color: #FFF80A;
            }

            @media (max-width: 770px) {
                font-size: 20px;

            }

        }

        button {
            background: #231955;
            border-radius: 20px;
            padding: 1rem 2rem;
            color: #ffffff;
            font-size: 30px;
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 3rem;

            &:hover {
                filter: invert(10%);
            }

            @media (max-width: 770px) {
                margin-top: 1rem;
            }

        }

        @media (max-width: 770px) {
            margin: 1rem 0;
            grid-template-columns: 1fr;
            padding: 1rem;
        }


    }

    .card-section {
        border-bottom: 2px solid #231955;
        margin: 5px;

        .card-section__holder {
            display: flex;
            gap: 5px;
            padding: 5px;
            width: 100%;
            height: 100%;
            min-height: 40vh;


            .about-card {
                flex: 1;
                background: #D9D9D9;
                color: #918CAA;
                padding: 5px;

                p {
                    font-size: 30px;
                }

                h3 {
                    padding: 2rem;
                    font-size: 30px;
                    font-weight: 800;
                    text-align: center;

                    @media (max-width: 770px) {
                        padding: 0;
                        text-align: start;
                    }
                }

                h5 {
                    font-size: 30px;
                    font-weight: 800;
                }

                span {
                    font-size: 30px;
                    font-weight: 800;
                    color: #000000;
                }

                &:hover {
                    background: #231955;
                    color: #ffffff;
                }

                @media (max-width: 770px) {

                    p,
                    h3,
                    h5,
                    span {
                        font-size: 20px;
                    }
                }

            }

            @media (max-width: 770px) {
                flex-direction: column;
            }


        }

        .about-btn-container {
            text-align: center;

            button {
                background: #231955;
                border-radius: 20px;
                padding: 1rem 2rem;
                color: #ffffff;
                margin: 2rem 0;
                font-size: 30px;
                font-weight: 800;

                &:hover {
                    filter: invert(10%);
                }
            }
        }
    }

    .investment-section__container {
        p {
            text-align: center;
            font-size: 30px;
            font-weight: 800;

            @media (max-width: 770px) {
                font-size: 20px;
            }

        }

        .title {
            color: #918CAA;
            padding: 2rem 0;
        }

        .investment-section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 2rem;



            .card1 {
                padding: 0.3rem 0;

            }

            @media (max-width: 770px) {
                grid-template-columns: 1fr 1fr;
            }

        }
    }

    .financial-investment-section {
        margin-bottom: 5rem;
        position: relative;
        width: 100%;

        @media (max-width: 770px) {
            margin: 0 !important;
            padding: 0;
            width: 100%;

        }


        .financial-investment {
            background: #1F4690;
            height: 100%;
            padding: 1rem 0 3rem 2rem;
            min-height: 50vh;
        
            margin: 1rem;

            @media (max-width: 770px) {
                min-height: 20vh;
                margin: 0;
                padding: 0;
                width: 100%;

            }


            p {
                width: 50%;
                font-size: 30px;
                text-align: start;
                font-size: 40px;
                font-weight: 800;
                color: #ffffff;
                padding: 1rem;

                @media (max-width: 770px) {
                    width: 100%;
                    font-size: 20px;
                }
                
            }

        }

        h6 {
            width: 50%;
            text-align: end;
            padding: 1rem 0;
            font-size: 20px;
            font-weight: 800;

            @media (max-width: 770px) {
                width: 100%;
                padding: 0 1rem;
            }

        }

        .img-container {
            position: absolute;
            top: 20px;
            right: 330px;
            width: 30%;

            img {
                width: 100%;
                height: 100%;
                min-height: 40vh;

                @media (max-width: 770px) {
                   max-height: 70vh !important;
                   
                }
       

            }

            @media (max-width: 770px) {
                position: static;
                width: 100%;
               
            }


        }
        @media (max-width: 770px) {
            margin: 1rem;
        }

    }

    .distinctive-difference {
        padding: 10rem 1rem;


        h4 {
            text-align: center;
            padding-bottom: 1rem;
            font-size: 30px;
            font-weight: 800;

            @media (max-width: 770px) {
                h4 {
                    font-size: 17px;
                    padding-bottom: 0;
                }
            }
        }

        span {
            color: #231955;
            font-weight: 800;

        }

        p {
            font-size: 30px;
            color: #B6B2C6;
            padding-bottom: 1rem;
        }

        @media (max-width: 770px) {
            padding: 10px;

            p,
            span {
                font-size: 15px;
            }
        }

    }

    .questionaire {
        background: url("../../assets/about-footer.png");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        min-height: 40vh;


        .questionaire-btn {
            width: 70%;
            text-align: end;

            @media (max-width: 770px) {
                width: 100%;
                text-align: center;
            }

            h4 {
                padding: 5rem 0 0.5rem;
                color: #ffffff;
                font-size: 30px;
                font-weight: 800;
            }

            button {
                border-radius: 20px;
                color: #ffffff;
                background: #231955;
                padding: 1rem 2rem;
                font-size: 30px;
            }

        }

    }

}




.About-logos {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 1rem auto;

}