.home-navbar {
    flex: 1;
    display: flex;
    align-items: center;
    background: #D3D1DD;
    height: 100%;
    max-height: 50px;
    padding: 0.2rem 0.5rem;


    .logo-section {
        width: 100%;
        height: 100%;


        img {
            width: 100%;
            max-width: 80px;
            max-height: 25px;
        }
        
    }

    .link-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;


        .link-section__nav {
            width: 100%;

            ul {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 15px;


                .active-link {
                    border-bottom: 2px solid #0C081C;
                    color: #0C081C;
                    cursor: pointer;
                    font-size: 11px;
                    font-weight: 800;

                }

                .not-active {
                    font-size: 11px;
                    color: white;
                    font-weight: 800;

                    &:hover,
                    &:active {
                        border-bottom: 2px solid #0C081C;
                        cursor: pointer;
                    }
                }



            }


        }
    }
}