#Signup-page_anchor{
    min-height: 100vh;

    @media (max-width: 770px) {
      min-height: 100%;
     }
}


#Signup-page {
    position: relative;
    padding: 1rem 1rem 5rem 1rem;

    @media (max-width: 770px) {
        padding: 1rem ;
     }
    

    p,
    em {
        font-size: 20px;
        color: #ffffff;
        display: flex;
        gap: 3px;

        @media (max-width: 460px) {
            font-size: 10px;
            display: block;
        }
    }

    span {
        color: #231955;
        display: flex;
        align-items: center;
        gap: 3px;
    }

    h6 {
        color: #231955;
        font-size: 35px;
        font-weight: 500;
    }

    .Signup-page__card {
        background: #231955;
        color: #ffffff;
        width: 50%;
        height: 100%;
        min-height: 60vh;
        padding: 1rem;

        h4 {
            font-size: 40px;
            font-weight: 500;
        }

        @media (max-width: 770px) {
            width: 100%;
            min-height: 100%;

            h4{
                font-size: 20px;
                text-align: center;
            }
        }

    }

    .Signup-page__form-container {
        background: #918CAA;
        border-radius: 20px;
        width: 60%;
        position: absolute;
        right: 10%;
        top: 10rem;
        height: 100%;
        min-height: 80vh;

        @media (max-width: 770px) {
            position: static;
            width: 100%;
            border-radius: 0;
            min-height: 100%;
        }

        // border: 2px solid red;

        form {
            padding: 3rem;
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 0.5rem;
            height: 100%;

            .input {
                width: 100%;
                padding: 1.5rem 1rem;

                @media (max-width: 460px) {
                    padding: 1rem 0.5rem;
                }

            }

            @media (max-width: 770px) {
                padding: 1rem;
            }


            input[type=checkbox] {
                zoom: 2;
                cursor: pointer;
            }


            .form-input {
                display: flex;
                gap: 20px;

                @media (max-width: 460px) {
                    flex-direction: column;
                    gap: 0.5rem;
                }
            }
        }

        .form-btn {
            display: flex;

            button {
                margin-left: auto;
                background: #231955;
                cursor: pointer;
                color: #ffffff;
                padding: 1rem 3rem;
                font-size: 30px;

                &:hover {
                    filter: invert(10%);
                }
            }
        }
    }
}